<div class="container">
  <div class="row mt-3">
    <div *ngFor="let site of sitesData" class="col-lg-3 col-md-6 mb-4">
      <div class="site-card d-flex align-items-center">
        <!-- Display site name horizontally with folder icon -->
        <span   (click)="navigate(site)" style="cursor: pointer;" class="d-flex align-items-center site-name">
          <!-- Folder Icon -->
          <i class="bi bi-filetype-xlsx me-2"></i>
          <!-- Site Name -->
          <span>{{ site.Name }}</span>
        </span>
      </div>
    </div>
  </div>
</div>

