<div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <div class="bg-primary-subtle">
              <div class="row">
                <div class="col-7">
                  
                </div>
                <div class="col-5 align-self-end">
                  <img src="assets/images/profile-img.png" onerror="this.src='assets/images/rn-mini.svg';" alt=""
                    class="img-fluid">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <!-- <img src="assets/images/megamenu-img.svg" alt="" class="" height="60"
                        onerror="this.src='assets/images/rn-mini.svg';"> -->
                    </span>
                  </div>
                </a>
              </div>
              <div class="p-2">
                  <div class="mt-3 d-grid">
                    <button class="btn btn-primary" type="submit" (click)="onSubmit()" >
                   
                   Login
                    </button>
                  </div>
                 
            
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>