
<app-navbar></app-navbar>
 <div class="container-fluid mt-4">
    <div class="row">
        <div  class="col-md-6 offset-3">
            
            <div class="card">
                <div class="card-body border-bottom py-2">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0 card-title flex-grow-1">
                        Create User</h5>
                        <button type="button" class="btn btn-danger btn-md" (click)="cancelAddUpdateModel()">
                           Back
                          </button>
                      </div>
                </div>
                <div *ngIf="showError !='' && showError !=null" class="card-body text-danger">
                    <span>{{showError}}</span>
                </div>
                <div class="card-body">
                    <div class="row">
                      
                        <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                            <label for="name">Name</label>
                            <input id="name" formControlName="Name" class="form-control" type="text" required />
                          
                            <label for="email">Email</label>
                            <input id="email" formControlName="EmailAddress" class="form-control" type="email" required />
                          
                            <label for="mobile">Mobile Number</label>
                            <input id="mobile" formControlName="MobileNumber" class="form-control" type="text" required />
                          
                            <label for="imageFile">Profile Image</label>
                            <input id="imageFile" type="file" class="form-control" (change)="onFileSelected($event)" />
                          
                            <button type="submit">Submit</button>
                          </form>
                          
        
                    </div>
                 
                    
                </div>
            </div>
        </div>
    </div>
  </div>
  